*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C1C1C1;
}

header{
    width: 100%;
    height: 169px;
    background-color: white;
    display: flex;
}

nav{
    font-size: 20px;
    font-family: Verdana;
    margin-top: 30px;
    margin-left: 60%;
}

a{
    color: black;
    text-decoration-line: none;
}

#geladao{
    width: 169px;
    height: 169px;
}

div{
    width: 500px;
    
    background-color: #D9D9D9;
    margin-top: 0;
}

section{
    
    height: 20%;
    background-color: #243A69;

}
.card-produto{
     background-color: #FFF;
    
    border-radius: 50px ;
    box-shadow: 0px 4px 8px #ddd;
    transition: 0.1s;
    padding: 1%;
    margin: 2%;
}
table{
    background-color: rgb(37, 97, 146);
    width: 80%;
    height: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 100px;
    text-align: center;

}
input{

}
label {
    padding: 1%;
    margin: 1%;
    
}

h1{
    font-size: 35px;
    font-family: Verdana;
    margin-left: 20px;
}
h2{
    margin-left: 50%;
}

#pesquisa-por-data{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
}

#lupa{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
#doc-img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

#pesquisa{
    margin-left: 30px;
    width: 100%;
    margin-bottom: 0;
}

textarea{
    width: 100%;
    height: 270px;
    margin-bottom: 0;
}
#register-form{
    background-color: #FFF;
    
    border-radius: 20px;
    box-shadow: 0px 4px 8px #ddd;
    text-align: center;
    padding: 1%;
    margin: 2%;
    
}

main{/*parte cinza da section do cadastro de produtos*/
    width: 100%;
    height: 50px;
    background-color: #D9D9D9;
    margin-top: 0;
    display: inline-flex;
}
#cabecalho{
    background-color: white;
    height: 20%px;
}

#coluna1{
    width: 10%;
}

#coluna2{
    background-color: white;
    opacity: 70%;
    width: 10%;
}

#coluna3{
    width: 60%;
    text-align: left;
    
}

#coluna4{
    background-color: white;
    width: 20%;
}

#linha1{
    background-color: r#5B88A5;
}

#linha2{
    background-color: #D9D9D9;
}

#linha4{
    background-color: #D9D9D9;
}

#linha6{
    background-color: #D9D9D9;
}

#linha8{
    background-color: #D9D9D9;
}

#main2{
    flex-direction: column;
    
}









footer{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(182, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#logout{
    width: 50px;
    height: 50px;
}